name: Package Check

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v1

      - name: Clean Dependecies
        run: rm pubspec.lock; flutter clean
        continue-on-error: true

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze project source
        run: flutter analyze

      - name: GenerateFiles
        run: dart run ./icon_generator/bin/icon_generator.dart
